
.Obstacle {
	position: absolute; 

	.upper {
		position: relative;
		top: 0;
		left: 0;
		width: em(50px);
		height: em(500px);
		background: url(http://t6.rbxcdn.com/048db6f4979dcc38b39cac0ba63a415a);
		background-size: 100% auto;
	}

	.lower {
		position: relative;
		top: 0;
		left: 0;
		width: em(50px);
		height: em(500px);
		background: url(http://t6.rbxcdn.com/048db6f4979dcc38b39cac0ba63a415a);
		background-size: 100% auto;
	}
}