
.Player {
    // Absolutely position entities at 0,0 and use transform to
    // move it around.
    position: absolute;
    top: 0;
    left: 0;
    width: em(50px);
    height: em(33px);

    background: url(http://www.mrspeaker.net/images/flappy-bird.png);
    background-size: 100% auto;
}
