
.Player {
    // Absolutely position entities at 0,0 and use transform to
    // move it around.
    position: absolute;
    top: 0;
    left: 0;
    width: em(50px);
    height: em(50px);

    background: url(http://vignette1.wikia.nocookie.net/lapis/images/3/3c/Mario_8Bit.png/revision/latest?cb=20141110215924);
    background-size: 100% auto;
}
